{% extends "base.html" %}
{% load static %}

<title>DELL</title>

{% block base_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <link rel='stylesheet' href='{% static "css/main.css" %}' >
 <link rel="icon"  href="http://pluspng.com/img-png/dell-logo-png-new-svg-image-2000.png" >
{% endblock %}

{% block content %}
 <div class="container-fluid" >
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
       <div class="carousel-item active">
         <img src="//i.dell.com/sites/csimages/Banner_Imagery/en/in-dhs-uberhp-7591-nebula.jpg" class="d-block w-100" alt="...">
       </div>
       <div class="carousel-item">
         <img src="//i.dell.com/sites/csimages/Banner_Imagery/en/in-bsd-ubh-advisor.jpg" class="d-block w-100" alt="...">
       </div>
       <div class="carousel-item">
         <img src="//i.dell.com/sites/imagecontent/app-merchandizing/responsive/Shop/Browse/PublishingImages/2800-x-944_2.jpg" class="d-block w-100" alt="...">
       </div>
     </div>
     <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>
  </div>
  
 <div id="about" class="container-fluid text-center">
   <br><br> <span class="glyphicon glyphicon-briefcase logo-small"></span><br><br>
   <h2 style="color: grey">OUR PRODUCTS</h2>
   <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-md-6">
          <span class=" slideanim"><a href="http://localhost:8000/products/"><img src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/notebooks/g_series/15_3579_non_touch/pdp/laptop-g-series-15-3579-nontouch-notebook-pdp-1.jpg?fmt=jpg" hp-lazy-prior="medium" onerror="this.style.display='none'" alt="Gaming PCs" height="283" width="570" ></a></span>
           <a href="http://localhost:8000/products/" class="btn btn-primary">Laptops</a>
        </div>
  
      <div class="col-md-6">
          <span class=" slideanim"><a href="http://localhost:8000/products/"><img src="//i.dell.com/sites/imagecontent/app-merchandizing/responsive/HomePage/en/PublishingImages/570-x-283.png" hp-lazy-prior="medium" onerror="this.style.display='none'" alt="Accessories"></a></span>
          <a href="http://localhost:8000/products/" class="btn btn-primary">Accessories</a>
        </div>
        <div class="col-md-6" style="margin-top: 5px;">
          <span class=" slideanim"><a href="http://localhost:8000/products/"><img data-testid="sharedPolarisHeroPdImage" src="//i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/workstations/fixed_workstations/precision/family/3420_3620/global_spi/workstation-precision-3420-3620-family-black-right-hero-504x350.psd?fmt=png-alpha&amp;wid=570&amp;hei=400" alt="Precision 3420 &amp; 3620 Tower" class="img-responsive"></a></span>
          <a href="http://localhost:8000/products/" class="btn btn-primary">Workstations</a>
        </div>
        <div class="col-md-6" style="margin-top: 50px;">
          <span class=" slideanim"><a href="http://localhost:8000/products/"><img data-testid="sharedPolarisHeroPdImage" src="//i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/peripherals/output_devices/dell/monitors/s_series/s2319h/spi/ng/monitor-s2319h-campaign-hero-504x350-ng.psd?fmt=jpg" alt="S2319H Monitor" class="img-responsive"></a></span>
          <a href="http://localhost:8000/products/" class="btn btn-primary">Desktops</a>
        </div>
  



  </div>
</div>
   </div>



<!-- Container (Contact Section) -->
<br><br>
<!-- Footer -->
<footer class="page-footer font-small">

  <div style="background-color: #007DAB">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="color:white;">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" href="#" style="color:white;">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="#" style="color:white;">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href="#" style="color:white;">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="#" style="color:white;">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5" >

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold" style="color:#007DAB;">DELL</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;color:#007DAB;">
        <p style="color:#007DAB;">Dell is a US multinational computer technology company that develops, sells, repairs, and supports computers and related products and services.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color:#007DAB;">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color:#007DAB;">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p >
          <a href="http://localhost:8000/products/" style="color:#007DAB;">Laptops</a>
        </p>
        <p style="color: #007DAB">
          <a href="http://localhost:8000/products/" style="color:#007DAB;">Accessories</a>
        </p>
        <p style="color: #007DAB">
          <a href="http://localhost:8000/products/" style="color:#007DAB;">Workstations</a>
        </p>
        <p style="color: #007DAB">
          <a href="http://localhost:8000/products/" style="color:#007DAB;">Desktops</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color:#007DAB;">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color:#007DAB;">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="http://localhost:8000/account/" style="color: #007DAB">Your Account</a>
        </p>
        <p>
          <a href="#!" style="color: #007DAB">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!" style="color: #007DAB">Shipping Rates</a>
        </p>
        <p>
          <a href="#!" style="color: #007DAB">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color:#007DAB;">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Placement Cell, IIIT Bhubaneswar</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> pcell@iiit-bh.ac.in</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 9938088008</p>
        <p>
          <i class="fas fa-print mr-3"></i> +91 9938088007</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
<!-- Footer -->








    <script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
 <script>
      function initMap() {
        var uluru = {lat: 20.295911,  lng: 85.744299};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv6IEKAmN3qcwvDyEa9V54HwuMdZE6b8Q&callback=initMap">
</script>

<script type="text/javascript">
$(document).ready(function(){
     $("#carouselExampleIndicators").carousel({
         interval : 2500,
         pause: false
     });
});
</script>



 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
